.div1{
    text-align: center;
    margin-top: 10%;
}

.div2{
    text-align: center;
}

#start-btn{
    z-index: 1000;
}

#answers1{
    text-align: center;
    padding: 5px;
}

#answers2{
    text-align: center;
    padding: 5px;
}

#answers3{
    text-align: center;
    padding: 5px;
}

#answers4{
    text-align: center;
    padding: 5px;
}

#answers5{
    text-align: center;
    padding: 5px;
}

#question1{
    text-align: center;
}

#question2{
    text-align: center;
}

#question3{
    text-align: center;
}

#question4{
    text-align: center;
}

#question5{
    text-align: center;
}

#refresh{
    text-align: center;
    margin-bottom: 10px;
}

#submit {
    margin-top: 10px;
}

#right{
    text-align: center;
}

#wrong{
    text-align: center;
}

h2{
    font-size: 20px;
    background-color: black;
    color: #ffffff;
    padding: 5px;
}